{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div>
  <h4 class='mt-5 ms-2'>Список сторінок</h4>
  <p class='ms-2'>Проект "Rezume" містить HTML-код з
    використанням елементів bootstrap</p>

  <a
    class='btn btn-primary ms-2'
    href='/summary'
    role='button'
  >Summary</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/skills'
    role='button'
  >Skills</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/education'
    role='button'
  >Education</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/work'
    role='button'
  >Work</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/program'
    role='button'
  >Program</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/person'
    role='button'
  >Person</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/bio'
    role='button'
  >Bio</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/web'
    role='button'
  >Web</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/js'
    role='button'
  >Js</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/car'
    role='button'
  >Car</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/mac'
    role='button'
  >Mac</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/facebook'
    role='button'
  >Facebook</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/task21'
    role='button'
  >Task21</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/task22'
    role='button'
  >Task22</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/task31'
    role='button'
  >Task31</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shophome'
    role='button'
  >Shophome</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shopproduct'
    role='button'
  >Shopproduct</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shopnews'
    role='button'
  >Shopnews</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shoporder'
    role='button'
  >Shoporder</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shopcart'
    role='button'
  >Shopcart</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shopprofile'
    role='button'
  >Shopprofile</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shopreview'
    role='button'
  >Shopreview</a>
  <br />
  <a
    class='btn btn-primary mt-2 ms-2'
    href='/shopcatalog'
    role='button'
  >Shopcatalog</a>
</div>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}