<section>
    <div>
      {{#with service}}
      <div class="card text-center text-bg-success ms-3">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="{{buttons.[0].link}}" class="btn btn-primary">{{buttons.[0].text}}</a>
  </div>
      {{/with}}
    </div>
  </section>
  <hr>
  